@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home of Company</h1>
    @* link to Support Response *@
    <a asp-area="Company" asp-controller="SupportResponse" asp-action="Index" class="btn btn-primary">
        Response</a>
</div>
