@page
@model LinkU.Pages.IndexModel
@{
    ViewData["Title"] = "Super Secret Admin Page!";
}
<h1>@ViewData["Title"]</h1>



<div class="text-center">
    <h1 class="display-4">Welcome to Admin page</h1>
    <p>If you're not an admin, you shouldn't be seeing this page!!!</p>
</div>
