@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Modify UI please</h1>
    @* link to SupportRequest *@
    <a asp-controller="SupportRequest" asp-action="Index" class="btn btn-primary">Support Request</a>
</div>
